		






		.group4{
			position:relative;
			height: auto;
		 	width: 100%;
		 	
			top:0px;
		 	
		 	color:grey;
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		}

		



		.feelthatshit_4a {
			position:absolute;
			height: auto;
		 	width: 25%;
		 	
			top:-19%;
			left:47%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_4b {
			position:absolute;
			height: auto;
		 	width: 20%;
		 	
			top:-21%;
			left:69%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_4c {
			position:absolute;
			height: auto;
		 	width: 20%;
		 	
			top:-12%;
			left:25%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_4d {
			position:absolute;
			height: auto;
		 	width: 60%;
		 	
			top:12%;
			left:22%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_4e {
			position:absolute;
			height: auto;
		 	width: 15%;
		 	
			top:12%;
			left:69%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_4f {
			position:absolute;
			height: auto;
		 	width: 30%;
		 	
			top:12%;
			left:59%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}
		.feelthatshit_4g {
			position:absolute;
			height: auto;
		 	width: 30%;
		 	
			top:38%;
			left:10%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_4h {
			position:absolute;
			height: auto;
		 	width: 30%;
		 	
			top:34%;
			left:20%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_4i {
			position:absolute;
			height: auto;
		 	width: 55%;
		 	
			top:54%;
			left:25%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_4k {
			position:absolute;
			height: auto;
		 	width: 30%;
		 	
			top:82%;
			left:4%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_4j {
			position:absolute;
			height: auto;
		 	width: 43%;
		 	
			top:76%;
			left:50%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}


		

		@media screen and (max-width: 1000px) {


			

		}

		 
		

		