		






		.group6{
			position:relative;
			height: auto;
		 	width: 100%;
		 	
			top:0px;
		 	
		 	color:grey;
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		}

		



		.feelthatshit_6a {
			position:absolute;
			height: auto;
		 	width: 50%;
		 	
			top:-16%;
			left:25%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}


		.feelthatshit_6c {
			position:absolute;
			height: auto;
		 	width: 14%;
		 	
			top:-5%;
			left:31%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_6e {
			position:absolute;
			height: auto;
		 	width: 28%;
		 	
			top:19%;
			left:28%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_6h{

			position:absolute;
			height: auto;
		 	width: 12%;
		 	
			top:27%;
			left:48%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;

		}

		.feelthatshit_6g {
			position:absolute;
			height: auto;
		 	width: 10%;
		 	
			top:19%;
			left:27%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}


		.feelthatshit_6f {
			position:absolute;
			height: auto;
		 	width: 19%;
		 	
			top:11%;
			left:16%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_6d {
			position:absolute;
			height: auto;
		 	width: 10%;
		 	
			top:38%;
			left:22%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_6b {
			position:absolute;
			height: auto;
		 	width: 19%;
		 	
			top:14%;
			left:63%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_6i {
			position:absolute;
			height: auto;
		 	width: 50%;
		 	
			top:46%;
			left:2%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:1;
		}

		.feelthatshit_6j{
			position:absolute;
			height: auto;
		 	width: 25%;
		 	
			top:46%;
			left:55%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;

		}

		.feelthatshit_6k {
			position:absolute;
			height: auto;
		 	width: 16%;
		 	
			top:56%;
			left:75%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_6m {
			position:absolute;
			height: auto;
		 	width: 16%;
		 	
			top:56%;
			left:61%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:1;
		}

		.feelthatshit_6l{
			position:absolute;
			height: auto;
		 	width: 12%;
		 	
			top:62%;
			left:76%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:1;
		}

		@media screen and (max-width: 1000px) {


			

		}

		 
		

		