		






		.group8{
			position:relative;
			height: auto;
		 	width: 100%;
		 	
			top:0px;
		 	
		 	color:grey;
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		}

		



		.feelthatshit_8b {
			position:absolute;
			height: auto;
		 	width: 50%;
		 	
			top:-21%;
			left:55%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_8c {
			position:absolute;
			height: auto;
		 	width: 52%;
		 	
			top:9%;
			left:27%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:1;
		}

		.feelthatshit_8a{

			position:absolute;
			height: auto;
		 	width: 30%;
		 	
			top:9%;
			left:7%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_8d{
			position:absolute;
			height: auto;
		 	width: 32%;
		 	
			top:64%;
			left:66%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;

		}

		.feelthatshit_8f {
			position:absolute;
			height: auto;
		 	width: 22%;
		 	
			top:90%;
			left:30%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_8e {
			position:absolute;
			height: auto;
		 	width: 64%;
		 	
			top:70%;
			left:-15%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_8g {
			position:absolute;
			height: auto;
		 	width: 30%;
		 	
			top:97%;
			left:45%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}


		

		@media screen and (max-width: 1000px) {


			

		}

		 
		

		