		






		.group7{
			position:relative;
			height: auto;
		 	width: 100%;
		 	
			top:0px;
		 	
		 	color:grey;
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		}

		



		.feelthatshit_7d {
			position:absolute;
			height: auto;
		 	width: 57%;
		 	
			top:-11%;
			left:5%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}


		.feelthatshit_7b{

			position:absolute;
			height: auto;
		 	width: 26%;
		 	
			top:-19%;
			left:53%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_7a{

			position:absolute;
			height: auto;
		 	width: 17%;
		 	
			top:-5%;
			left:64%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_7c{
			position:absolute;
			height: auto;
		 	width: 46%;
		 	
			top:15%;
			left:41%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;

		}

		.feelthatshit_7g{
			position:absolute;
			height: auto;
		 	width: 50%;
		 	
			top:36%;
			left:41%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_7h{
			position:absolute;
			height: auto;
		 	width: 25%;
		 	
			top:56%;
			left:14%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_7f{

			position:absolute;
			height: auto;
		 	width: 18%;
		 	
			top:67%;
			left:23%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_7e{
			position:absolute;
			height: auto;
		 	width: 21%;
		 	
			top:60%;
			left:32%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_7i{

			position:absolute;
			height: auto;
		 	width: 8%;
		 	
			top:55%;
			left:31%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		@media screen and (max-width: 1000px) {


			

		}

		 
		

		