		






		.group3{
			position:relative;
			height: auto;
		 	width: 100%;
		 	
			top:0px;
		 	
		 	color:grey;
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		}

		



		.feelthatshit_3b {
			position:absolute;
			height: auto;
		 	width: 55%;
		 	
			top:-9%;
			left:42%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_3c {
			position:absolute;
			height: auto;
		 	width: 19%;
		 	
			top:3%;
			left:15%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_3d {
			position:absolute;
			height: auto;
		 	width: 28%;
		 	
			top:16%;
			left:28%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_3e {
			position:absolute;
			height: auto;
		 	width: 35%;
		 	
			top:19%;
			left:5%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:1;
		}

		.feelthatshit_3a {
			position:absolute;
			height: auto;
		 	width: 25%;
		 	
			top:21%;
			left:5%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:1;
		}

		.feelthatshit_3f {
			position:absolute;
			height: auto;
		 	width: 60%;
		 	
			top:21%;
			left:44%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_3g {
			position:absolute;
			height: auto;
		 	width: 40%;
		 	
			top:10%;
			left:59%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:1;
		}

		.feelthatshit_3h {

			position:absolute;
			height: auto;
		 	width: 45%;
		 	
			top:45%;
			left:9%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:1;

		}

		.feelthatshit_3i {
			position:absolute;
			height: auto;
		 	width: 23%;
		 	
			top:47%;
			right:30%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:1;
		}

		.feelthatshit_3k {
			position:absolute;
			height: auto;
		 	width: 17%;
		 	
			top:68%;
			left:30%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:1;
		}

		.feelthatshit_3j {
			position:absolute;
			height: auto;
		 	width: 15%;
		 	
			top:75%;
			left:12%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:1;
		}


		

		@media screen and (max-width: 1000px) {


			

		}

		 
		

		