		






		.group5{
			position:relative;
			height: auto;
		 	width: 100%;
		 	
			top:0px;
		 	
		 	color:grey;
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		}

		



		.feelthatshit_5c {
			position:absolute;
			height: auto;
		 	width: 35%;
		 	
			top:-6%;
			left:21%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_5b {
			position:absolute;
			height: auto;
		 	width: 19%;
		 	
			top:9%;
			left:5%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_5e {
			position:absolute;
			height: auto;
		 	width: 16%;
		 	
			top:8%;
			left:60%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}

		.feelthatshit_5d {
			position:absolute;
			height: auto;
		 	width: 11%;
		 	
			top:3%;
			left:55%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:2;
		}


		.feelthatshit_5a {
			position:absolute;
			height: auto;
		 	width: 29%;
		 	
			top:30%;
			left:49%;
		 	
		 	
		 	margin: 0px;
		 	padding: 0px;
		 	
		 	margin:0;
		    padding:0;  
		    font-size: 0;
		    z-index:1;
		}

		

		

		@media screen and (max-width: 1000px) {


			

		}

		 
		

		